name: Backend CI Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    uses: Alae-J/travelo-ci-templates/.github/workflows/docker-build.yml@main
    with:
      image-name: lamsaafyassine/travelo-backend
      artifact-name: backend-image
      enable-cache: false

  # Règle 1 - Scan de sécurité seulement sur main et PR vers main
  security-scan:
    needs: build
    if: github.ref == 'refs/heads/main' || github.base_ref == 'refs/heads/main'
    uses: Alae-J/travelo-ci-templates/.github/workflows/security-scan.yml@main
    permissions:
      contents: read
      security-events: write
    with:
      scan-type: image
      image-name: lamsaafyassine/travelo-backend
      artifact-name: backend-image
      severity: HIGH,CRITICAL

  push:
    needs: [build, security-scan]
    # Règle 2 - Push seulement après merge sur main
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    uses: Alae-J/travelo-ci-templates/.github/workflows/docker-push.yml@main
    with:
      image-name: lamsaafyassine/travelo-backend
      artifact-name: backend-image
      support-version-tags: false
    secrets:
      dockerhub-username: ${{ secrets.DOCKERHUB_USERNAME }}
      dockerhub-token: ${{ secrets.DOCKERHUB_TOKEN }}

  GitOps-k8s-deploy:
    needs: push
    if: github.ref == 'refs/heads/main'
    uses: Alae-J/travelo-ci-templates/.github/workflows/gitops-deploy.yml@main
    with:
      image-name: lamsaafyassine/travelo-backend
      yaml-file: backend.yaml
      infra-repo: yassinelamsaaf/travelo-infra
      support-version-tags: false
    secrets:
      infra-token: ${{ secrets.INFRA_REPO_TOKEN }}
